<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728766484396-f6h02lkm7rdc180v05n5dh7os2j274lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728766484396-f6h02lkm7rdc180v05n5dh7os2j274lo</string>
	<key>API_KEY</key>
	<string>AIzaSyC3MG2TxhZioc1qtIqeiYBKTWNgiNYW1jc</string>
	<key>GCM_SENDER_ID</key>
	<string>728766484396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kiwihabitapp</string>
	<key>PROJECT_ID</key>
	<string>kiwihabitapp-5f514</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwihabitapp-5f514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728766484396:ios:2d84d1df978e8e91983409</string>
</dict>
</plist>